<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.BookingMapper">
  <select id="dynamicMovieListData" resultType="MovieVO"
    parameterType="hashmap">
		SELECT DISTINCT m.title, m.movie_id
		FROM movie m
		
		JOIN screen sc
  		ON sc.theater_id = t.theater_id
		JOIN schedule s
  		ON s.screen_id = sc.screen_id
		JOIN movie m
  		ON m.movie_id = s.movie_id
		
		<where>
			s.schedule_date >= SYSDATE
			<if test="theater != null and theater != ''">
				AND t.theater_id = #{theater}
			</if>
		</where>
  </select>

  <select id="dynamicTheaterListData" resultType="TheaterVO"
    parameterType="hashmap">
    SELECT DISTINCT t.theater_name, t.theater_id
		FROM theater t
		
		JOIN screen sc
  		ON sc.theater_id = t.theater_id
		JOIN schedule s
  		ON s.screen_id = sc.screen_id
		JOIN movie m
  		ON m.movie_id = s.movie_id
  	
  	<where>
  		t.theater_region = #{region}
  		AND s.schedule_date >= SYSDATE
  		<if test="movie != null and movie != ''">
  			AND m.movie_id = #{movie}
  		</if>
  	</where>
  </select>
</mapper>